mixin navItem(type, name, link)
	li.nav__item
		a(href="" +link target="_self" class="nav__link " +type)=name

mixin teamItem(name, photo, position, about, lifestyle)
	li.about__item
		.about__item-head
			picture.about__item-frame
				//source(srcset="static/images/content/' +photo +'.webp" type="image/webp")
				img(src="static/images/content/" +photo +".svg" alt="" +name).about__item-photo
			h3.about__item-name=name
		.about__item-bio
			b.about__item-position=position
			b.about__item-subtitle Чем я занимаюсь на работе
			p.about__item-description=about
			b.about__item-subtitle В обычной жизни я..
			p.about__item-life=lifestyle


mixin serviceItem(visual, title, link, description)
	li.service__item
		picture.service__frame
			source(srcset="static/images/content/" +visual +".webp" type="image/webp")
			img(src="static/images/content/" +visual +".png" alt="" +title).service__image
		a(href="" +link + ".html" target="_self").service__links=title
		p.service__description=description
		
mixin projectItem(visual, name)
	.projects__item.swiper-slide
		picture.projects__frame
			source(srcset="static/images/content/" +visual +".webp" type="image/webp")
			img(src="static/images/content/" +visual +".jpg" alt="" +name).projects__image

mixin clientItem(visual, type, link, title)
	.clients__item.swiper-slide
		a(href="" +link target="_blank" title="" +title).clients__link
			img(src="static/images/content/" +visual +"." +type alt="" +title).clients__image

mixin blogItem(date, type, preview, title, description, info, like, share)
	li(class="blog__item " +type +' ' +info)
		a(href="article.html" target="_self").blog__link
			data(data-time="" +date).blog__item-time=date
			picture.blog__frame
				source(srcset="static/images/content/" +preview +".webp" type="image/webp")
				img(src="static/images/content/" +preview +".jpg" alt="" +name).blog__image
			.blog__content
				h3.blog__subtitle=title
				p.blog__description=description
				
				div(class="blog__bottom " +info)
					span.blog__info.like=like
					span.blog__info.share=share
					
					button(type="button").blog__btn Читать

mixin shareBtn(link, type)
	li.share-list__item
		button(type="button" class="share-list__btn " +type)
			i(class="fab " +link)


mixin articleVideo(type, videoData)
	div(class="article__block " +type)
		.article__videoframe
			iframe(src="https://player.vimeo.com/video/" +videoData +"?title=0&byline=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen).article__player
